img {
    display: inline;
    width: 150px;
}

button {
    background-color: red;
    color: white;
    border-style: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}

.qtty {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
}




/*/////////////////////////*/
.products-cart {
    padding: 0;
    border-top: 1px solid #e6e6e6;
}

.pr-cart-item {
    list-style: none;
    display: table;
    padding: 20px 0;
    width: 100%;
}

.pr-cart-item:not(:first-child) {
    border-top: 1px solid #e6e6e6;
}

.quantity,
.price-field,
.product-name,
.product-image {
    display: table-cell;
    vertical-align: middle;
}

.product-image {
    width: 100px;
}

/* @media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .wrap-iten-in-cart .products-cart .product-image img {
        width: 100%;
    }
} */

.quantity {
    width: 157px;
}

.price-field {
    width: 182px;
    text-align: center;
}

.delete {
    width: 39px;
    text-align: right;
}

.product-name {
    padding-left: 20px;
}

a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;
    text-align: left;
}

.price-field p {
    font-size: 22px;
    line-height: 18px;
    color: #222222;
    font-weight: 600;
}

.quantity-input {
    display: inline-block;
    border: 1px solid #e6e6e6;
    width: 100%;
    max-width: 157px;
}

.quantity-input input[type=number],
.quantity-input input[type=text] {
    max-width: 71px;
    float: right;
    border: none;
    outline: none;
    height: 37px;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    text-align: right;
    padding-right: 15px;
    padding-left: 10px;
}

.btn {
    display: inline-block;
    float: right;
    width: 28px;
    height: 28px;
    background-color: #dddddd;
    border: none;
    padding: 0;
    line-height: 20px;
    margin: 4.5px 0 0 10px;
    border-radius: 50%;
    position: relative;
}

.btn::after,
.btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn:hover::before,
.btn:hover::after {
    background-color: #ffffff !important;
}

.btn::before {
    content: "";
    width: 10px;
    height: 2px;
    margin-left: -5px;
    margin-top: -1px;
    background-color: #666666;
    display: inline-block;
}

.btn.btn-increase {
    background-color: #999999;
}

.btn.btn-increase::after {
    content: "";
    width: 2px;
    height: 10px;
    margin-left: -1px;
    margin-top: -5px;
    background-color: #666666;
    display: block;
}

.delete a:focus,
.delete a.btn {
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
}

.delete a.btn span {
    display: none;
}

.delete a.btn i {
    font-size: 20px;
    line-height: 24px;
    color: #888888;
    outline: none;
}

.delete a.btn:hover i {
    color: #ff2832;
}

.product-image {
    display: inline-block;
    width: 100% !important;
    text-align: center !important;
    padding: 10px 0 !important;
}

.wrap-iten-in-cart .products-cart .product-image img {
    max-width: 150px;
}


.wrap-iten-in-cart .products-cart {
    padding: 0;
    border-top: 1px solid #e6e6e6;
}

.wrap-iten-in-cart .products-cart .pr-cart-item {
    list-style: none;
    display: table;
    padding: 20px 0;
    width: 100%;
}

.wrap-iten-in-cart .products-cart .pr-cart-item:not(:first-child) {
    border-top: 1px solid #e6e6e6;
}

.wrap-iten-in-cart .products-cart .delete,
.wrap-iten-in-cart .products-cart .quantity,
.wrap-iten-in-cart .products-cart .price-field,
.wrap-iten-in-cart .products-cart .product-name,
.wrap-iten-in-cart .products-cart .product-image {
    display: table-cell;
    vertical-align: middle;
}

.wrap-iten-in-cart .products-cart .product-image {
    width: 100px;
}

/* @media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .wrap-iten-in-cart .products-cart .product-image img {
        width: 100%;
    }
} */

.wrap-iten-in-cart .products-cart .quantity {
    width: 157px;
}

.wrap-iten-in-cart .products-cart .price-field {
    width: 182px;
    text-align: center;
}

.wrap-iten-in-cart .products-cart .delete {
    width: 39px;
    text-align: right;
}

.wrap-iten-in-cart .products-cart .product-name {
    padding-left: 20px;
}

.wrap-iten-in-cart .products-cart .product-name a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;
    text-align: left;
}

.wrap-iten-in-cart .products-cart .price-field p {
    font-size: 22px;
    line-height: 18px;
    color: #222222;
    font-weight: 600;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input {
    display: inline-block;
    border: 1px solid #e6e6e6;
    width: 100%;
    max-width: 157px;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input input[type=number],
.wrap-iten-in-cart .products-cart .quantity .quantity-input input[type=text] {
    max-width: 71px;
    float: right;
    border: none;
    outline: none;
    height: 37px;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    text-align: right;
    padding-right: 15px;
    padding-left: 10px;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn {
    display: inline-block;
    float: right;
    width: 28px;
    height: 28px;
    background-color: #dddddd;
    border: none;
    padding: 0;
    line-height: 20px;
    margin: 4.5px 0 0 10px;
    border-radius: 50%;
    position: relative;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn::after,
.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn:hover::before,
.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn:hover::after {
    background-color: #ffffff !important;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn::before {
    content: "";
    width: 10px;
    height: 2px;
    margin-left: -5px;
    margin-top: -1px;
    background-color: #666666;
    display: inline-block;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn.btn-increase {
    background-color: #999999;
}

.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn.btn-increase::after {
    content: "";
    width: 2px;
    height: 10px;
    margin-left: -1px;
    margin-top: -5px;
    background-color: #666666;
    display: block;
}

.wrap-iten-in-cart .products-cart .delete a:focus,
.wrap-iten-in-cart .products-cart .delete a.btn {
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
}

.wrap-iten-in-cart .products-cart .delete a.btn span {
    display: none;
}

.wrap-iten-in-cart .products-cart .delete a.btn i {
    line-height: 24px;
    color: #888888;
    outline: none;
}

.wrap-iten-in-cart .products-cart .delete a.btn:hover i {
    color: #ff2832;
}

.wrap-iten-in-cart .products-cart .product-image {
    display: inline-block;
    width: 100% !important;
    text-align: center !important;
    padding: 10px 0 !important;
}

.wrap-iten-in-cart .products-cart .product-image img {
    max-width: 150px;
}