<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-12 d-flex justify-content-center mt-5">
            <img src="../../../assets/image/error.jpg" width="50%" alt="" style="display: block;">
        </div>

        <div class="col-12 text-center mt-5">
            <h2>Error 404: Page Not Found</h2>
            <h2>This page may have been removed or changed</h2>
            <a routerLink="">Go To HomePage</a>
        </div>
    </div>
</div>
