<div class="container">
  <div
    class="row justify-content-md-between justify-content-center align-items-center g-2 text-center">
    <div class="col-12 col-md-6 p-md-2"></div>
    <div class="col-12 col-md-6  ">
      <ul class="nav  d-flex justify-content-center text-blacks">
        <li class="nav-item">
          <a class="nav-link" href="#" (mouseenter)="onLinkHover('Link 1')" (mouseleave)="onLinkLeave()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (mouseenter)="onLinkHover('Link 2')" (mouseleave)="onLinkLeave()">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (mouseenter)="onLinkHover('Link 3')" (mouseleave)="onLinkLeave()">Logout</a>
        </li>
      </ul>
      
      
    </div>
   
  </div>
  
</div>

  