<!-- <p>shop-card-summary works!</p> -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="summary bg-light p-4">
                <div class="order-summary">
                    <h4 class="title-box">Order Summary</h4>
                    <p class="summary-info"><span class="title">Subtotal</span><b class="index">${{totPrice}}</b></p>
                    <p class="summary-info"><span class="title">Shipping</span><b class="index">Free Shipping</b></p>
                    <p class="summary-info total-info "><span class="title">Total</span><b
                            class="index">${{totPrice}}</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="summary bg-light p-4">
                <div class="checkout-info">
                    <a class="btn btn-checkout btn-block" (click)="total()">Check out</a>
                </div>
                <div class="update-clear mt-3">
                    <a class="btn btn-update btn-block" href="#">Continue Shopping</a>
                    <a class="btn btn-clear btn-block" (click)="clear()">Clear Shopping Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>